.skill-img {
    object-fit: fill;
    height: 100px;
    width: 100%;
}

.skill-title {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.skill-banner {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: monospace;
    color: white;
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 7000px) {
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
}

/* small mobile :320px. */
@media (min-width: 499px) and (max-width: 767px) {
}

@media (min-width: 250px) and (max-width: 500px) {
    .skill-title {
        font-size: 10px;
    }
    .skill-img {
        height: 50px;
    }
    .skill-banner {
        font-size: 30px;
    }

}